.send-button {
    height: 48px;
    background: #D7102B;
    border-radius: 8px;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 600;

    &:disabled {
        background-color: #878787;
    }
}