$fontColor: #373737;
$lightFontColor: #9e9e9e;
$underLineColor: #c8c7cc;
$lightUnderLineColor: #e0e0e0;
$controlBorderColor: #C2C9D1;
$red: #e9000c;
$blackColor: #000000;

// Comments colors
$commentGrayColor: #828282;
$commentSendButtonInactive: #9a9a9a;
$commentSendButtonActive: #337df6;
$commentTextColor: #373737;

$inverseColor: #373737;
$inverseSemiTransparent: rgba(255, 255, 255, 0.1);

$gray: #747474;

$accentColor: #D7102B;
